@model SimpleSocialBlog.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="review-form">
        @Html.LabelFor(m => m.OldPassword, new { @class = "control-label" })
        <div>
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="review-form">
        @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
        <div>
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="review-form">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
        <div>
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <input type="submit" value="Change Password" class="btn btn-default" />
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}